.container {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.button-principal {
  color: white;
  font-size: 25px;
  font-family: 'Teko', sans-serif;
  background:transparent;
  outline:none;
  border: 2px solid #d2d2d2;
}

.container-resume {
  text-decoration: none;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  width: 200px;
  height: 50px;
  z-index: 1;

}

.resume-button {
  animation: 0.7s ease-out 0s 1 Button;
  text-decoration: none;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  width: 200px;
  height: 50px;
  z-index: 1;
}

.resume-button a {
  width: 100%;
  padding-top: 7px;
  margin: auto;
  display: inline-block;
  text-decoration: none;
  color: white;
}

@keyframes Button {
  0% { opacity: 0;}
  100% {opacity: 1}
}

/*.nav {
	width: 100px;
	height: 100vh;
	border-right: 1px solid white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2
}*/


