.container-form {
	position: absolute;
	top: 30%;
	width: 100%;
	color: white;
}

.form {
  width: 20%;
  height: 270px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.name-input {
	margin-top: 50px;
	font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
	color: white;
	padding: 5px;
	background:transparent;
	outline:none;
	border: none;
	border-bottom: 0.5px solid #4c4c4c;
}

.name-button {
  color: white;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  margin-top: 80px;
  height: 50px;
  background:transparent;
  outline:none;
  border: 1px solid #E85353;
  border-radius: 30px;
 }