body {
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	color: #fff5ce;
    line-height: 36px;
	background-color: #000E1F;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0px;
}

.key-word {
	color: #E85353;
	font-weight: bold;
}