body {
	font-family: 'Amatic SC', cursive;
    margin-top: 20px;;
	font-size: 30px;
	color: #f1eeeb;
    line-height: 36px;
	background-color: #000E1F;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0px;
	-ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body::-webkit-scrollbar {
  display: none;

}

ul {
  padding-left: 0px;	
}

li {
  padding-left: 0px;
  list-style-type: none;
  margin-left: 0px;
}

span {
  font-family: 'Teko', sans-serif;
}

.title {
	font-family: 'Teko', sans-serif;
	font-size: 47px;
	color: #f1eeeb;
}

.border {
	border-bottom: 1px solid grey;
}

.key-word {
	color: #E85353;
	font-weight: bold;
}

.key-word-blank {
	color: White;
	font-weight: bold;
}

