 @keyframes onLoad {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

 @keyframes onSubmitRight {
  0% { transform: translateX(0%) }
  100% { transform: translateX(300%) }
}

 @keyframes onSubmitLeft {
  0% { transform: translateX(0%) }
  100% { transform: translateX(-300%) }
}

 @keyframes onSubmitButton {
  0% { transform: translateY(0%) }
  100% { transform: translateY(1000%) }
}

/* This fires as soon as the this.state.showList is false */

/* fires as element leaves the DOM*/
.list-transition-exit-active input {
  animation: 0.3s ease-out 0s 1 onSubmitRight;	
  color: transparent;
  transition: all 300ms;
}

.list-transition-exit-active label {
  animation: 0.3s ease-out 0s 1 onSubmitLeft;	
  color: transparent;
  transition: all 300ms;
}

.list-transition-exit-active button {	
  animation: 1s ease-out 0s 1 onSubmitButton;	
}

.container-form {
	animation: 2s ease-out 0s 1 onLoad;
	position: fixed;
	top: 30%;
	width: 100%;
	color: #fff5ce;
	z-index: 100;
}

.form {
  width: 350px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 80px;


}

.name-input {
	margin-top: 60px;
	font-family: 'Amatic SC', cursive;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    width: 100%;
	color: #fff5ce;
	background:transparent;
	outline:none;
	border: none;
	border-bottom: 0.5px solid #4c4c4c;
}

.form-button {
  margin-top: 80px;
  width: 100%;
  height: 50px;
  background:transparent;
  outline:none;
 }

 .input-error-container {
 	height: 100px
 }

 .error-message {
 	font-size: 15px;
 }



